.Signup_Page{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 150px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.Signup_Name input, .Signup_Number input, .Signup_Email input, .Signup_password input
{
    width: 800px;
    height: 50px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
.Signup_Name
{
    flex-direction: row;
}
.Register
{
    width: 100px;
    height: 100px;
}
.Signup_password
{
    width: 800px;
    height: 50px;
}