.body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Case
{
    display: flex;
    flex-direction: row;

}
.CauseAndEffect
{
    display: flex;
    flex-direction: column;
}
.Treatment,.Medical_History
{
    width: 200px;
    height: 100px;
}