body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 20px;
}
.aa
{
    display: flex;
    gap: 10px;
    flex-direction: column;    
}
input, select
{
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    font-size: 18px;
}
.btn
{
    width: 200px;
    height: 30px;
    font-size: 18px;
    color: blue;
}

